@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
  border-radius: 4px; /* Rounded corners */
}

::-webkit-scrollbar-thumb {
  background: #8abc95; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #289744; /* Color of the scrollbar thumb on hover */
}